extends layout

block content
    h1= title

    form.well(id='form-login', action='/chain/submitquote', method='post', class='login-form')
                h2 How many days?
                .form-group
                    label Start Date
                    input.form-control(type='text', id='startDate-tf', name='startDate')
                .form-group
                    label End Date
                    input.form-control(type='text', id='endDate-tf', name='endDate')
                .controls
                    button(type='submit').btn.btn-primary.button-sign-in Get a quote
                .clearfix