extends layout

block content
  h1.landing-page__title Get protected... instantly.
  div.landing-page__card
    div.landing-page__card-top
      div.landing-page__card-left
        a.landing-page__photo
          img.landing-page__user-action(src="/img/photo.png")
        p.landing-page__action-text Upload a picture of what you want to insure
      div.landing-page__card-right
        a.landing-page__capture
          img.landing-page__user-action(src="/img/upload.png")
        p.landing-page__action-text Take a picture of what you want to insure
    div.landing-page__card-bottom
      p.landing-page__card-bottom-text 1. Take or upload a picture of what you want to protectet
      p.landing-page__card-bottom-text 2. Tell us how long you need it protected for
      p.landing-page__card-bottom-text 3. Let us know who you are
      p.landing-page__card-bottom-text 4. Pay and be on your way