body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #6A2BA0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

a {
  color: #00B7FF;
}

.header {
  background-color: #8A66C3;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.login-form{
  width: 80%;
}

.team-name{
  color: #fff;
  font-size: 36px;
  align-self: center;
  padding-left: 5%;
}

.login{
  color: #fff;
  font-size: 20px;
  align-self: center;
  padding-right: 5%;
}

.login-url{
  color: #fff;
}

a.login-url:hover{
  text-decoration: none;
}

.landing-page__card{
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 80%
}

.landing-page__card-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 7.5%;
  padding-right: 7.5%;
  margin-top: 5%;
}

.landing-page__card-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.landing-page__card-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.landing-page__title{
  color: #fff;
  font-size: 36px;
  margin-bottom: 3%;
  margin-top: 3%;
}

.landing-page__card-bottom{
  display: flex;
  flex-direction: column;
  padding-left: 26%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.landing-page__card-bottom-text{
  margin: 0px;
  font-size: 18px;
}

.landing-page__action-text{
  font-size: 24px;
  text-align: center;
}

.confirm{
  height: 40px;
  width: 200px;
  background-color: green;
}