body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #6A2BA0;
}

a {
  color: #00B7FF;
}

header {
  background-color: #8A66C3;
  height: 200px;
  width: 100%
}